/* || General Styles */


/* || Header */
h1 {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 1rem;
}

.logo, .add-button {
    margin: 1rem;
}


.add-button {
    background-color: green;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.plus {
    width: 2rem;
    height: 2rem;
}
/* || Main Content */

.book-card {
    
}


/* || Modal */

.hidden {
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem;
    width: 450px;
    z-index: 2;
}

/* Source: https://www.freecodecamp.org/news/how-to-build-a-modal-with-javascript/ */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }