@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

/* || General Styles */
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* || Header */
h1 {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo, .add-button {
    margin: 1rem;
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.add-button {
    background-color: green;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.plus {
    width: 2rem;
    height: 2rem;
}

/* || Book Grid */

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin: 2rem;
}

/* || Book Card */

.book-card {
    min-height: 12rem;
    background-color: lightgray;
}

.book-read, .book-not-read {
    padding: 1rem;
}

.book-read {
    background-color: green;

}

.book-not-read {
    background-color: red;
}


/* || Modal */

.hidden {
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    width: 450px;
    height: 75%;
    z-index: 2;
}

/* Source: https://www.freecodecamp.org/news/how-to-build-a-modal-with-javascript/ */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }